.favorite {
  padding: 2rem 0;

  &-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.5rem;

    &::before {
      content: "";
      max-width: 280px;
      width: 100%;
      order: 1;
    }

    &::after {
      content: "";
      max-width: 280px;
      width: 100%;
    }

    .image {
      aspect-ratio: 1 / 1;
      max-width: 280px;
      width: 100%;
      position: relative;

      &:hover {
        span {
          color: #da2d2d;
        }
      }

      span {
        position: absolute;
        color: var(--light-color);
        font-size: 2rem;
        top: 1rem;
        right: 1rem;
        transition: all 0.3s;
      }

      img {
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
