.footer {
  background-color: var(--dark-color);
  color: var(--light-color);
  padding: 20px;
  position: relative;
  bottom: 0;

  p {
    text-align: center;
    font-size: 1rem;
  }

  @media screen and (max-width: 768px) {
    bottom: 4rem;
  }
}
