.header-desktop {
  position: relative;
  width: 100%;
  background-color: var(--accent-color);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  &__login {
    padding-left: 1.2rem;
    font-size: 1rem;
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding-right: 0.5rem;
    margin-left: auto;

    ul {
      display: flex;
      gap: 1.5rem;
    }
  }

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.header-mobile {
  position: relative;
  width: 100%;
  background-color: var(--accent-color);
  height: 60px;
  padding: 0 1.2rem;
  display: none;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 768px) {
    display: flex;
  }
}
