header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--light-color);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  ul {
    padding-right: 2rem;
    display: flex;
    gap: 1.5rem;
  }

  button {
    font-size: 1.4rem;
    padding-left: 1.2rem;
    font-weight: 700;
  }
}
