header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--accent-color);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  ul {
    padding-right: 2rem;
    display: flex;
    gap: 1.5rem;
  }

  .header-logo {
    font-size: 1.4rem;
    padding-left: 1.2rem;
    font-weight: 700;
    border: none;
    transition: all 0.2s;

    &:hover {
      color: var(--dark-color);
      opacity: 0.7;
    }
  }
}
