:root {
  --font-sans: "Josefin Sans", sans-serif;

  --light-color: #e1ded9;
  --dark-color: #353434;
  --accent-color: #90a0a8;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

a {
  font-weight: 500;
  color: var(--dark-color);
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: var(--light-color);
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-sans);
  line-height: 1.5;
  background-color: #fcfcfc;
}

h1, h2, h3 {
  font-family: var(--font-sans);
  color: var(--dark-color);
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.2em;

  @media screen and (max-width: 768px) {
    font-size: 2.5em;
  }
}

h2 {
  font-size: 2.8em;

  @media screen and (max-width: 768px) {
    font-size: 2.0em;
  }
}

h3 {
  font-size: 1.8em;

  @media screen and (max-width: 768px) {
    font-size: 1.5em;
  }
}

button {
  font-family: var(--font-sans);
  background-color: transparent;
  cursor: pointer;
  border: 1px solid var(--dark-color);
  border-radius: 10px;
  padding: 1rem 1.5rem;
  font-size: 1.1rem;
  transition: all 0.2s;

  &:hover {
    border: 1px solid transparent;
    background-color: var(--dark-color);
    color: var(--light-color);
  }

  &:focus,
  &:focus-visible {
  }
}

figure {
  margin: 0;
}

img {
  width: 100%;
  display: block;
}

ul {
  margin: 0;
  padding: 0;
}

form {
  border-bottom: 1px solid var(--dark-color);
}

input {
  font-family: var(--font-sans);
  padding: 1rem;
  font-size: 1.2rem;
  border: none;
  outline: none;

  &:focus {
  }
}

p {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem;
}