:root {
  --font-sans: "Josefin Sans", sans-serif;

  --light-color: #e1ded9;
  --dark-color: #353434;
  --accent-color: #657f8c;
  --accent-color-light: #98bdd1;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}

a {
  font-weight: 500;
  color: var(--dark-color);
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: var(--light-color);
  }
}

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  height: 100%;
}

body {
  padding: 0;
  font-family: var(--font-sans);
  line-height: 1.5;
  background-color: #fcfcfc;
}

h1,
h2,
h3 {
  font-family: var(--font-sans);
  color: var(--dark-color);
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.2em;

  @media screen and (max-width: 768px) {
    font-size: 2.5em;
  }
}

h2 {
  font-size: 2.8em;

  @media screen and (max-width: 768px) {
    font-size: 2em;
  }
}

h3 {
  font-size: 1.8em;

  @media screen and (max-width: 768px) {
    font-size: 1.5em;
  }
}

button {
  all: unset;
  font-family: var(--font-sans);
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.logout-button {
  border: 1px solid var(--dark-color);
  border-radius: 10px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  transition: all 0.2s;

  &:hover {
    border: 1px solid transparent;
    background-color: var(--dark-color);
    color: var(--light-color);
  }

  @media screen and (max-width: 768px) {
    font-size: 1rem;
  }
}
figure {
  margin: 0;
}

img {
  width: 100%;
  display: block;
}

ul {
  margin: 0;
  padding: 0;
}

form {
  border-bottom: 1px solid var(--dark-color);
}

input {
  font-family: var(--font-sans);
  padding: 1rem;
  font-size: 1.2rem;
  border: none;
  outline: none;

  &:focus {
  }
}

p {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 4rem 2rem;
  min-height: 100vh;
}
