.login {
  margin: 2rem 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  @media screen and (max-width: 768px) {
    .login {
      padding: 4rem 2rem;
      gap: 2rem;
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-bottom: 2rem;

    h1 {
      margin: 0.5rem 0;
    }

    @media screen and (max-width: 768px) {
      h1 {
        font-size: 2.5rem;
        text-align: center;
      }

      p {
        font-size: 1rem;
        text-align: center;
      }
    }
  }

  &__button {
    border: 1px solid var(--dark-color);
    border-radius: 10px;
    padding: 0.8rem 1.2rem;
    font-size: 1.1rem;
    transition: all 0.2s;

    &:hover {
      border: 1px solid transparent;
      background-color: var(--dark-color);
      color: var(--light-color);
    }

    @media screen and (max-width: 768px) {
      font-size: 1rem;
    }
  }

  &__warning {
    p {
      max-width: 360px;
      width: 100%;
      padding: 1rem 1.8rem;
      font-size: 0.8rem;
      background-color: rgb(53, 52, 52, 0.08);
      border-radius: 6px;
    }

    a:hover {
      text-decoration: underline;
      color: var(--dark-color);
    }
  }
}
