.login {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;

  button {
    border: 1px solid var(--dark-color);
    border-radius: 10px;
    padding: 1rem 1.5rem;
    font-size: 1.1rem;
    transition: all 0.2s;

    &:hover {
      border: 1px solid transparent;
      background-color: var(--dark-color);
      color: var(--light-color);
    }
  }
}
