.result {
  padding: 2rem;

  &-info {
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .corrected-query {
      font-size: 1.3rem;

      a {
        font-weight: 700;
      }
    }
  }

  &-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.5rem;

    &::before {
      content: "";
      max-width: 280px;
      width: 100%;
      order: 1;
    }

    &::after {
      content: "";
      max-width: 280px;
      width: 100%;
    }

    .image {
      aspect-ratio: 1 / 1;
      max-width: 280px;
      width: 100%;
      transition: all 0.4s;
      position: relative;

      &:hover {
        opacity: 0.6;

        span {
          opacity: 1;
          visibility: visible;
        }
      }

      span {
        font-size: 4rem;
        border: none;
        padding: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: var(--light-color);
        opacity: 0;
        visibility: hidden;
        transition: all 0.4s;
      }

      img {
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
