.result {
  padding: 2rem 0;

  &__info {
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      gap: 0.8rem;
      padding: 0;
      margin-bottom: 1rem;
      font-size: 1.2rem;

      p {
        font-size: 0.9rem;
        align-self: flex-end;
      }
    }

    .corrected-query {
      font-size: 1.3rem;

      a {
        font-weight: 700;
      }
    }
  }
}
