.search-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;

  input {
    background-color: #fcfcfc;
    font-size: 1.2rem;
  }

  button {
    border: none;
    padding: 0;

    &:hover {
      background-color: transparent;
    }
  }
}
