// Loading spinner
.loading-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(6px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.spinner {
  width: 60px;
  height: 60px;
  border: 6px solid #fff;
  border-top-color: var(--accent-color);
  border-radius: 50%;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

// Scroll to top button
.scroll-to-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--accent-color);
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;

  @media screen and (max-width: 768px) {
    margin-bottom: 3.5rem;
  }
}

// Logout button
.logout-button-desktop {
  border: 1px solid var(--dark-color);
  border-radius: 10px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  transition: all 0.2s;
  display: block;

  &:hover {
    border: 1px solid transparent;
    background-color: var(--dark-color);
    color: var(--light-color);
  }

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.logout-button-mobile {
  display: none;
  flex-direction: column;

  @media screen and (max-width: 768px) {
    display: flex;
  }
}